dum/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dc332ac7-8414-4ef3-ad39-ba4252cf4cb9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="822f120e-70fd-4afc-b905-e14787274d64" >
		<http:listener doc:name="Listener" doc:id="7adf4777-ffde-4e84-8e82-08d83253dfbe" config-ref="HTTP_Listener_config" path="/path"/>
		<set-payload value='#["Hello New"]' doc:name="Set Payload" doc:id="ef00dfbb-4556-401d-b5a7-9e86a607f4f2" />
	</flow>
</mule>
